* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}



button {
  display: flex;
  font-size: 25px;
  height: 50px;
  width: 50px;

}

.container {
  margin: 0px;
}

.positions {
  height: 60vh;
  width: 60vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  background-color: black;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}

.position {
  background-color: white;
  text-align: center;
  min-width: 100px;
  min-height: 100%; 
}