button {
  display: flex;
  font-size: 25px;
  height: 50px;
  width: 50px;

}

.positions {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  height: 75vh;
  width: 75vh;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.position {
  margin: 0px;
  border: 1px solid black;
  
}